[submodule "TODO-tutorial"]
	path = TODO-tutorial
	url = https://github.com/textualize/TODO-tutorial
[submodule "20230717-textual-todo-tutorial"]
	path = 20230717-textual-todo-tutorial
	url = https://github.com/textualize/TODO-tutorial
