[submodule "20230717-textual-todo-tutorial"]
	main = main
	path = 20230717-textual-todo-tutorial
	url = https://github.com/textualize/TODO-tutorial
	branch = main
[submodule "20230920-terminal-based-user-interfaces-with-ease-using-textual"]
	path = 20230920-terminal-based-user-interfaces-with-ease-using-textual
	url = https://github.com/Textualize/TODO-tutorial
[submodule "20231004-more-textual"]
	path = 20231004-more-textual
	url = https://github.com/Textualize/TODO-tutorial
